.btn {
	&:not(:disabled) {
		&:not(.disabled) {
			cursor: pointer;
		}
	}
	cursor: pointer;
	position: relative;
	z-index: auto;
	border-radius: .175rem;
	transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s,opacity .15s;
}
.btn-a-brc-tp {
	&:not(.disabled) {
		&:not(:disabled).active {
			border-color: transparent;
		}
	}
}
.btn-brc-tp {
	border-color: transparent;
	&:focus {
		&:not(:hover) {
			&:not(:active) {
				&:not(.active) {
					&:not(.dropdown-toggle) {
						border-color: transparent;
					}
				}
			}
		}
	}
}
.btn-h-brc-tp {
	&:hover {
		border-color: transparent;
	}
}
.btn.btn-f-brc-tp {
	&:focus {
		border-color: transparent;
	}
}
.btn.btn-h-brc-tp {
	&:hover {
		border-color: transparent;
	}
}
.btn-outline-blue {
	color: #0d6ce1;
	border-color: #5a9beb;
	background-color: transparent;
}
.border-2 {
	border-width: 2px !important;
	border-style: solid !important;
	border-color: transparent;
}
.bgc-white {
	background-color: #fff !important;
}
.text-green-d1 {
	color: #277b5d !important;
}
.letter-spacing {
	letter-spacing: .5px !important;
}
.font-bolder {
	font-weight: 600 !important;
}
.text-600 {
	font-weight: 600 !important;
}
.text-170 {
	font-size: 1.7em !important;
}
.text-purple-d1 {
	color: #6d62b5 !important;
}
.text-primary-d1 {
	color: #276ab4 !important;
}
.text-secondary-d1 {
	color: #5f718b !important;
}
.text-180 {
	font-size: 1.8em !important;
}
.text-150 {
	font-size: 1.5em !important;
}
.text-danger-m3 {
	color: #e05858 !important;
}
.rotate-45 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.position-l {
	left: 0;
	position: absolute !important;
	display: block;
}
.position-b {
	position: absolute !important;
	display: block;
}
.position-bc {
	position: absolute !important;
	display: block;
}
.position-bl {
	position: absolute !important;
	display: block;
}
.position-br {
	position: absolute !important;
	display: block;
}
.position-center {
	position: absolute !important;
	display: block;
}
.position-lc {
	position: absolute !important;
	display: block;
}
.position-r {
	position: absolute !important;
	display: block;
}
.position-rc {
	position: absolute !important;
	display: block;
}
.position-t {
	position: absolute !important;
	display: block;
}
.position-tc {
	position: absolute !important;
	display: block;
}
.position-tl {
	position: absolute !important;
	display: block;
}
.position-tr {
	position: absolute !important;
	display: block;
}
.mt-n475 {
	margin-top: -2.5rem !important;
}
.my-n475 {
	margin-top: -2.5rem !important;
}
.ml-35 {
	margin-left: 1.25rem !important;
}
.mx-35 {
	margin-left: 1.25rem !important;
}
.text-dark-l1 {
	color: #56585e !important;
}
.text-90 {
	font-size: .9em !important;
}
.text-left {
	text-align: left !important;
}
.mt-25 {
	margin-top: .75rem !important;
}
.my-25 {
	margin-top: .75rem !important;
}
.text-110 {
	font-size: 1.1em !important;
}
.deleted-text {
	text-decoration: line-through;
}
